{% if user.is_anonymous %}
<meta
  http-equiv="REFRESH"
  content="0; url=https://ebrahemfathy.pythonanywhere.com/members/login/"
/>

<style>
  nav {
    background-color: transparent !important;
  }
  a {
    color: transparent !important;
  }
  #the-icon {
    width: 0;
    height: 0;
  }
  body {
    background: url("/static/assets/image/bg.jpg");
    background-position: center;
    background-size: cover;
  }
</style>
{% endif %}

<body style="overflow: hidden">
  <div class="container">
    <div
      class="d-flex flex-column"
      style="
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
      "
    >
      <p class="m-auto" style="font-family: sans-serif; text-decoration: none">
        Your password has been updated successfully, go back to the
        <a
          href="{% url 'Home' %}"
          style="color: #54c8f7; text-decoration: none"
        >
          home page</a
        >
      </p>
    </div>
  </div>
</body>
