{% extends 'base.html' %}
<!--  -->
{% block title %} Create New Post {% endblock title %}
<!--  -->
{% block content %}
<!--  -->
{% if user.is_anonymous %}
<meta
  http-equiv="REFRESH"
  content="0; url=https://ebrahemfathy.pythonanywhere.com/members/login/"
/>

<style>
  nav {
    background-color: transparent !important;
  }
  a {
    color: transparent !important;
  }
  #the-icon {
    width: 0;
    height: 0;
  }
  body {
    background: url("/static/assets/image/bg.jpg");
    background-position: center;
    background-size: cover;
  }
</style>
{% endif %}
<!--  -->
{% if user.profile.id %}

<!--  -->
{% if user.is_authenticated %}

<h1 style="color: gray">Create New Post</h1>
<hr />
<br />
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <!--  -->
  {{ form.as_p }}

  <div style="display: flex; flex-direction: row">
    <button type="submit" class="btn btn-primary">Post</button>
    <a
      href=" {% url 'community' %} "
      class="btn btn-light"
      style="margin-left: 20px"
      >Back</a
    >
  </div>
</form>

<!--  -->
<br />
<br />
<br />
{% endif %}
<script>
  let name = "{{ user.id }}";
  document.getElementById("author").value = name;
</script>
{% else %}
<meta
  http-equiv="REFRESH"
  content="0; url=https://ebrahemfathy.pythonanywhere.com/members/create_profile_page"
/>
{% endif %}
<!--  -->
{% endblock content %}
