{% extends 'base.html' %}
<!--  -->

{% load static %}
<!--  -->
{% block content %}

<!--  -->
{% if user.is_anonymous %}
<meta
  http-equiv="REFRESH"
  content="0; url=https://ebrahemfathy.pythonanywhere.com/members/login/"
/>

<style>
  nav {
    background-color: transparent !important;
  }
  a {
    color: transparent !important;
  }
  #the-icon {
    width: 0;
    height: 0;
  }
  body {
    background: url("/static/assets/image/bg.jpg");
    background-position: center;
    background-size: cover;
  }
</style>
{% endif %}

<!--  -->

{% if user.is_authenticated %}
<!--  -->
{% if not category_posts %}
<h3 style="margin-top: 10vh; color: gray; text-transform: capitalize">
  There are no posts related to the {{ c }} category yet....
</h3>
{% else %}
<div style="display: flex; justify-content: space-between">
  <h1>{{ c }}</h1>
  <div style="align-self: center">
    {% if user.is_staff %}

    <a
      style="
        text-decoration: none;
        color: white;
        height: fit-content;
        align-self: center;
      "
      href="{% url 'add_category' %}"
      ><button type="button" class="btn btn-secondary">Add Category</button></a
    >

    {% endif %}
    <!--  -->
    {% if user.profile.id %}
    <a style="text-decoration: none; color: white" href="{% url 'add_post' %}">
      <button
        type="button"
        class="btn btn-primary"
        style="height: fit-content; align-self: center"
      >
        Add Post
      </button></a
    >
    {% else %}
    <meta
      http-equiv="REFRESH"
      content="0; url=https://ebrahemfathy.pythonanywhere.com/community/"
    />

    <!--  -->
    {% endif %}
  </div>
</div>
<hr />
<br />
<ul style="padding: 0">
  {% for post in category_posts %}

  <li style="display: flex; justify-content: space-between">
    <div>
      <a
        style="text-decoration: none"
        href=" {% url 'article_details' post.pk %} "
        >{{ post.title|slice:10 }}
      </a>
      <span style="color: rgb(166, 219, 86)"> {{ post.movie_name }}</span>
      <span style="color: #54c8f7"
        >BY
        <a
          href="{% url 'show_profile' post.author_id %}"
          style="text-decoration: none; color: #54c8f7; font-weight: 600"
        >
          {{ post.author.get_full_name }}</a
        ></span
      >
      <a
        style="color: black; text-decoration: none; padding-left: 10px"
        href="{% url 'category' post.category %}"
        >({{ post.category }})</a
      >
    </div>
    {% if user.id == post.author.id %}
    <p>
      <a
        style="
          text-decoration: none;
          color: green;
          border-bottom: lime 2px solid;
        "
        href="{% url 'update_post' post.pk %}"
        >Edit</a
      >
      <a
        style="
          text-decoration: none;
          color: red;
          border-bottom: red 2px solid;
          font-weight: 600;
          font-size: smaller;
        "
        href="{% url 'delete_post' post.pk %}"
        >Delete</a
      >
    </p>
    {% endif %}
  </li>

  <li style="list-style-type: none">
    <a
      style="text-decoration: none; width: 15%; color: gray"
      href=" {% url 'article_details' post.pk %} "
      >{{ post.body|slice:'500' }}</a
    >
  </li>
  <br />
  {% endfor %}
</ul>
{% endif %}
<!--  -->

{% endif %}
<!--  -->
{% endblock %}
