{% extends 'base.html' %} {% block title %} Edit Post {% endblock title %}
<!--  -->

{% block content %}
<!--  -->
{% if user.is_anonymous %}
<meta
  http-equiv="REFRESH"
  content="0; url=https://ibrahemfathy.pythonanywhere.com/members/login/"
/>

<style>
  nav {
    background-color: transparent !important;
  }
  a {
    color: transparent !important;
  }
  #the-icon {
    width: 0;
    height: 0;
  }
  body {
    background: url("/static/assets/image/bg.jpg");
    background-position: center;
    background-size: cover;
  }
</style>
{% endif %}
<!--  -->
{% if user.is_authenticated %}
<!--  -->
{% if user.id == post.author.id %}

<h1>Update Post</h1>
<hr />
<br />
<form method="post">
  {% csrf_token %}
  <!--  -->
  {{ form.as_p }}
  <div style="display: flex; flex-direction: row">
    <button type="submit" class="btn btn-success">Save</button>
    <a
      href=" {% url 'community' %} "
      class="btn btn-light"
      style="margin-left: 20px"
      >Back</a
    >
  </div>
</form>

<br />
<br />
{% else %}
<h3 style="margin-top: 10vh; color: gray">
  Sorry This Page Does Not Exist....!
</h3>
{% endif %}
<!--  -->
{% else %}
<meta
  http-equiv="REFRESH"
  content="0; url=https://ibrahemfathy.pythonanywhere.com/members/login/"
/>

{% endif %}
<!--  -->
{% endblock content %}
